body{
    background-color: black
    }
    
    @font-face{
        font-family: "future";
        src: url("future.outrun-future-bold.italic.otf");
    }

    h1{
        color: white;
        font-family: "future";
        text-align: center;
        font-size: 50px;
        margin: 0;
    }

    h2{ 
        font-family: "future";
        text-align: center;
        margin:0;
    }

    .product-space{
        padding:200px;
        text-align: center;
    }

    .add-button{
        width: 75%;
        outline: white;
        border-radius: 24px;
        padding: 10px;
        border: 3px solid white;
        background-color: transparent;
        color: white;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }

    .resume-card{
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        width: 20%;
        border: 5px solid white;
        border-radius: 10px;
        margin: 0px 10px 0px;
        transition: 0.3;
        display: inline-block
    }

    .resume-info{
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.8s;
        display: inline-block;
    }

    .tips-card{
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        width: 20%;
        border: 5px solid white;
        border-radius: 10px;
        margin: 0px 10px 0px;
        transition: 0.3;
        display: inline-block
    }

    .tips-info{
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.8s;
        display: inline-block;
    }

    .contact-card{
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        width: 20%;
        border: 5px solid white;
        border-radius: 10px;
        margin: 0px 10px 0px;
        transition: 0.3;
        display: inline-block
    }

    .contact-info{
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.8s;
        display: inline-block;
    }